<template name="question">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="panel-body">
        <p>{{body}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <a href="{{pathFor 'newAnswer'}}" class="btn btn-primary btn-block">Answer</a>
        </div>
        <div class="col-xs-6 text-center">
            {{#if followed}}
            <button id="unfollow-question" class="btn btn-danger btn-block">Unfollow</button>
            {{else}}
            <button id="follow-question" class="btn btn-success btn-block">Follow</button>
            {{/if}}
        </div>
    </div>
<!--     <div class="question-title">
        <h1>{{title}}?</h1>
    </div>
    <div class="question-body">
        <p>{{body}}</p>
    </div>
    <div class="question-info">
        <p>asked by {{authorName}} on {{date}}</p>
        <p>course: {{courseName}}</p>
    </div> -->
    <div class="question-answers">
        {{> answersList}}
    </div>
</template>
