<template name="questionsList">
	<header>
	    <div class="bar bar-header">
	        <button class="button button-icon icon ion-navicon navbar-toggle"></button>
	        <div class="h1 title">{{courseAcronym}}</div>
	        <a href="{{pathFor 'newQuestion'}}" class="button button-clear button-assertive">New</a>
	    </div>
	</header>
    <div class="has-header scroll-content">
    	<div class="questions">
    	    {{#each questions}}
    	    {{> questionItem}}
    	    {{/each}}
    	</div>
    </div>
</template>
