* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
}

#content {
    padding-top: 70px;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: margin-left 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    overflow: hidden;
}

header {
    position: absolute;
}

#menu {
    position: absolute;
    width: 80%;
    height: 100%;
    background-color: #555;
}

#container.slide {
    -webkit-transform: translateX(80%);
    box-shadow: -10px 0 20px #444;
}

#content {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

a.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
}

.accepted-answer {
    background-color: #F1F1F1;
    padding: 10px;
}
