@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#content {
    padding-top: 70px;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: margin-left 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    overflow: hidden;
}

/*#menu {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: #ddd;
    z-index: 0;
}*/

#container.slide {
    -webkit-transform: translateX(270px);
    box-shadow: -10px 0 30px #ccc;
}

#content {
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

a.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    left: 0;
}

.accepted-answer .item {
    background-color: #F1F1F1;
}

.scroll-content {
    overflow-y: scroll;
}

.answer > .item {
    border: 0;
}

.question-item {
    text-decoration: none;
}

header + div {
    background-color: white;
}

.content {
    background-color: white;
}

.text-center {
    text-align: center;
}

.align-center {
    margin: 0 auto;
}

table.align-center {
    margin-top: 15px;
    margin-bottom: 15px;
}

table td {
    padding: 8px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    margin-top: 20px;
}

.mini-profile-image {
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: 40px;
    max-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    float: left;
    border: 1px solid #ddd;
}

.profile-info .value {
    font-size: 32px;
    font-weight: 200;
}

.profile-info .description {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.item-body {
    padding-top: 0;
    padding-bottom: 0;
}

.item-body pre {
    font-family: inherit;
    font-size: 14px;
}

.item.user-name {
    padding-bottom: 0;
}

#logo {
    background: url('/img/logo.png') no-repeat center center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    background-size: contain;
}

.button.button-assertive {
    background-color: #ff2d55;
    color: #fff;
    border-color: #DE2548;
}

.button.button-assertive:active, .button.button-outline.button-assertive:active {
    background-color: #DE2548;
}

.button.button-assertive.button-clear {
    color: #ff2d55;
}

.button.button-assertive.button-clear {
    color: #DE2548;
    background: none;
}

.button.button-outline.button-assertive {
    color: #ff2d55;
    border-color: #DE2548;
}

.bar.bar-assertive {
    background-color: #ff2d55;
}

.bar > a {
    font-family: inherit;
}

.button.icon-left::before {
    font-family: 'Ionicons';
}

.navbar-toggle {
    color: #ff2d55;
}

.navbar-toggle:hover, .navbar-toggle:active {
    color: #DE2548;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
}

h1 {
    font-weight: 300;
}

h2 {
    line-height: 21px;
}

small {
    font-size: 11px;
    text-transform: uppercase;
}