<template name="newQuestion">
    <header>
            <div class="bar bar-header">
                <a class="button button-clear button-assertive button-cancel">Cancel</a>
                <div class="h1 title"></div>
                <a id="ask-question" class="button button-clear button-assertive">Ask</a>
            </div>
    </header>
    <div class="has-header scroll-content">
        <div class="list">
            <label class="item item-input">
                <input name="title" type="text" value="" placeholder="Title" />
            </label>
          <label class="item item-input">
            <textarea name="body" placeholder="Ask your question" rows="20"></textarea>
          </label>
        </div>
    </div>
</template>
