<template name="answer">
	<div class="{{accepted}}">
		<img class="media-object img-circle pull-left" src="http://placehold.it/64x64" alt="64x64" style="width: 64px; height: 64px;">
		    <div class="media-body">
		    	<h4 class="media-heading">{{authorName}}</h4>
		     	<p>{{body}}</p>
		     	<p>posted on: {{date}}</p>
		     	<p>positive {{upVote}} negative {{downVote}} votes</p>
		     	<button id="upvote" class="btn btn-success"><i class="glyphicon glyphicon-thumbs-up"></i></button>
		     	<button id="downvote" class="btn btn-danger"><i class="glyphicon glyphicon-thumbs-down"></i></button>
		     	{{#if author}}
		     	<button id="accept-answer" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Accept</button>
		     	{{/if}}
		    </div>
	</div>
</template>
