<template name="answer">
	<div class="{{acceptedAnswer}}">
		<div class="list card answer">

		  <div class="item user-name item-avatar">
		  	<div class="mini-profile-image" style="background: url({{photo}}) no-repeat center center; background-color: #fff;background-size: 100% 100%;"></div>
		    <h2>{{authorName}}</h2>
		    <p>November 05, 1955</p>
		  </div>

		  <div class="item item-body">
		    <p>
		      {{body}}
		    </p>
		    <p>
		      <a href="#" class="subdued">{{upVote}} Like</a>
		      <a href="#" class="subdued">{{downVote}} Dislikes</a>
		    </p>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a id="upvote" class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a id="downvote" class="tab-item" href="#">
		      <i class="icon ion-thumbsdown"></i>
		      Dislike
		    </a>
		    {{#if accepted}}
		    <a id="unaccept-answer" class="tab-item" href="#">
		      <i class="icon ion-close"></i>
		      Unaccept answer
		    </a>
		    {{else}}
		    <a id="accept-answer" class="tab-item" href="#">
		      <i class="icon ion-checkmark"></i>
		      Accept answer
		    </a>

		    {{/if}}
		  </div>

		</div>
	</div>
</template>
