<template name="alerts">
    <header>
        <div class="bar bar-header">
            <a class="button icon-left ion-ios7-arrow-left button-clear button-assertive button-back">Back</a>
            <div class="h1 title">Alerts</div>
        </div>
    </header>
    <div class="has-header scroll-content content">
        {{#each alerts}}
              <div class="item item-text-wrap notification {{unseen}}">
                {{message}}
                <span class="notification-date">{{dateFromNow date}}</span>
              </div>
        {{/each}}
    </div>
</template>