<template name="courses">
    <header>
        <div class="bar bar-header">
            <button class="button button-icon icon ion-navicon navbar-toggle"></button>
            <div class="h1 title">Courses</div>
            {{#if managing}}
            <a id="stop-manage-courses" class="button button-clear button-assertive">Done</a>
            {{else}}
            <a id="manage-courses" class="button button-clear button-assertive">Manage</a>
            {{/if}}
        </div>
    </header>
    <div class="has-header scroll-content">
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input id="search" type="text" placeholder="Search" value="{{query}}">
            </label>
        </div>
        <div class="list">
            {{#if searchedCourses}}
            <div class="item item-divider">
                Results
            </div>
            {{#each searchedCourses}}
            <div class="item item-button-right">
                {{name}}
                {{#if notFollowed}}
                <button class="button button-clear button-assertive">
                    Follow
                </button>
                {{/if}}
            </div>
            {{/each}}
            {{/if}}
            <div class="item item-divider">
                Following
            </div>
            {{#each courses}}
            {{#if managing}}
            <div class="item item-button-right">
                {{name}}
                <button class="button button-clear button-assertive unfollow-course">
                    Remove
                </button>
            </div>
            {{else}}
            <a href="{{pathFor 'questionsList'}}" class="item">{{name}}</a>
            {{/if}}
            {{/each}}
        </div>
    </div>
</template>
