<template name="home">
    <header>
        <div class="bar bar-header">
            <button class="button button-icon icon ion-navicon navbar-toggle"></button>
            <div class="h1 title">Activity</div>
        </div>
    </header>
    <div class="has-header scroll-content">
        <h1>Feed</h1>
        {{#each notifications}}
        <div class="card notification">
          <div class="item item-text-wrap">
            {{message}}
          </div>
        </div>
        {{/each}}
        <h1>Ranking</h1>
            <div class="list">
            {{#each ranking}}
                <a class="item ranking-person item-avatar" href="#">
                    <div class="mini-profile-image" style="background: url({{photo}}) no-repeat center center; background-color: #fff;background-size: 100% 100%;"></div>
                    <h2>{{profile.shortName}}</h2>
                    <p>{{profile.points}} points</p>
                </a>
            {{/each}}
            </div>
        <h1>RAQ</h1>
        <div class="list">
        {{#each raq}}
            <a class="item raq-question" href="{{pathFor 'question'}}">
                <h2>{{title}}</h2>
                <p>{{courseName}} &middot; {{date}}</p>
            </a>
        {{/each}}
        </div>
    </div>
</template>
