<template name="home">
    <header>
        <div class="bar bar-header">
            <button class="button button-icon icon ion-navicon navbar-toggle"></button>
            <div class="h1 title">Activity</div>
        </div>
    </header>
    {{#if alertsTab}}
    <div class="bar bar-subheader">
      <div class="button-bar">
        <a class="button button-assertive">Alerts</a>
        <a class="button button-outline button-assertive">RAQ</a>
        <a class="button button-outline button-assertive">Ranking</a>
      </div>
    </div>
    <div class="has-subheader scroll-content content">
    <div class="list">
    {{#each notifications}}
          <div class="item item-text-wrap notification">
            {{message}}
          </div>
        {{/each}}
    </div>
    </div>
    {{/if}}
    {{#if rankingTab}}
    <div class="bar bar-subheader">
      <div class="button-bar">
        <a class="button button-outline button-assertive">Alerts</a>
        <a class="button button-outline button-assertive">RAQ</a>
        <a class="button button-assertive">Ranking</a>
      </div>
    </div>
    <div class="has-subheader scroll-content content">
            <div class="list">
            {{#each ranking}}
                <a class="item ranking-person item-avatar" href="#">
                    <div class="mini-profile-image" style="background: url({{photo}}) no-repeat center center; background-color: #fff;background-size: 100% 100%;"></div>
                    <h2>{{profile.shortName}}</h2>
                    <p>{{profile.points}} points</p>
                </a>
            {{/each}}
            </div>
    </div>
    {{/if}}
    {{#if raqTab}}
    <div class="bar bar-subheader">
      <div class="button-bar">
        <a class="button button-outline button-assertive">Alerts</a>
        <a class="button button-assertive">RAQ</a>
        <a class="button button-outline button-assertive">Ranking</a>
      </div>
    </div>
    <div class="has-subheader scroll-content content">
        <div class="list">
        {{#each raq}}
            <a class="item raq-question" href="#">
                <h2>{{title}}</h2>
                <p>{{courseName}} &middot; {{dateFromNow date}}</p>
            </a>
        {{/each}}
        </div>
    </div>
    {{/if}}
</template>
