<template name="profile">
    <div class="profile-image"></div>
    <h1>{{currentUser.profile.name}}</h1>
    <h3>{{currentUser.profile.email}}</h3>
    <p>{{currentUser.profile.points}} points,
        {{currentUser.profile.questions.length}} questions,
        {{currentUser.profile.answers.length}} answers,
        {{currentUser.profile.ranking}} ranking
        </p>
</template>

<template name="userProfile">
	{{#with user}}
	    <h1>{{profile.name}}</h1>
	    <h3>{{profile.email}}</h3>
	    <p>{{profile.points}} points,
	        {{profile.questions.length}} questions,
	        {{profile.answers.length}} answers,
	        {{profile.ranking}} ranking
	        </p>
    {{/with}}
</template>