<template name="newAnswer">
	<header>
            <div class="bar bar-header">
                <a class="button button-clear button-assertive">Cancel</a>
                <div class="h1 title"></div>
                <a id="answer-question" class="button button-clear button-assertive">Answer</a>
            </div>
    </header>
    <div class="has-header scroll-content">
        <div class="list">
          <label class="item item-input">
            <textarea name="body" placeholder="Answer" rows="20"></textarea>
          </label>
        </div>
    </div>
</template>
